body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,88,1) 55%, rgba(0,212,255,1) 100%);
}
.main
{
    margin-top: 30px;
    width: 400px;
    height: 650px;
    background-color:rgb(163, 76, 172) ;
    border-radius: 30px;   
    overflow: hidden;  
    box-shadow: 20px 20px 20px white;
    top: 25%;
    left: 35%;
    position: relative;
}
#chk{
    display: none;
}
.Signup{
    position:relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
label{
    
    color: black;
    margin: 20px;
    display:flex;
    justify-content: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    cursor: pointer;
}
input{
    width: 60%;
    height: 25px;
    margin:2px auto;
    justify-content: center;
    padding: 5px;
    border: none;
    border-radius: 25px;
    display: flex;
}
button{
    justify-content: center;
    width: 50%;
    margin: 10px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 25px;
   
}
button:hover{
    background: rgb(15, 155, 194);
}
.Login{
    height:400px;
    background: rgb(196, 138, 30);
    border-radius: 60%/10%;
    /* transform: translatey(-320px); */
    transition: .8s ease-in-out;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.Login label{
    margin: 20px;
    /* transform: scale(1); */
    
}
#chk:checked ~ .Login{
    transform: translateY(-500px);
    /* transform: scale(1); */
}
#chk:checked ~ .Login label {
    transform: scale(1);
}
#chk:checked ~ .signup label{
    transform: scale(.9);
}